@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Path: style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* user-select: none; */
}

:root {
  --bg-color: #313a5e;
  --snd-bf-color: #262b40;
  --text-color: #fff;
  --main-color: #59b2f4;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: default;
}

.navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
}
.navbar a.active {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: space-between;
  margin: 0rem 3rem;
  align-items: center;
}

.home-content {
  padding: 3vw;
  font-size: 1.7rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.1rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img {
  width: 25vw;
  overflow: hidden;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content p {
  font-size: 1.8rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.btn {
  background: var(--main-color);
  padding: 1.6rem;
  border-radius: 25px;
  font-size: 2rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 800;
  transition: 0.5s ease;
}

.btn:hover {
  background: rgb(0, 64, 92);
  color: var(--text-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--snd-bf-color);
}

.about-img img {
  width: 35vw;
}
.about-img img:hover {
  filter: drop-shadow(3px 3px 3px var(--main-color));
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  margin-top: 2rem;
  font-size: 3rem;
}

.about-content p {
  text-align: justify;
  font-size: 1.5rem;
  margin: 2rem 0 3rem;
}

.portfolio {
  background-color: var(--snd-bf-color);
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
  /* background-color: blue; */
  padding: 8rem;
  /* margin-top: 1rem; */
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
  /* opacity: 0.7; */
}

.portfolio-box:hover img {
  transform: scale(1.05);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: linear-gradient(rgba(0,0,0,0.1),var(--main-color)); */
  background-color: #21294a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-box {
  display: flex;
  justify-content: center;
  /* background-color: red; */
}

.portfolio-layer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--snd-bf-color);
}

.skills-container {
  position: relative;
  display: flex;
  padding: 2rem;
  margin: 10rem auto;
  gap: 5px;
}

.skill-container-left {
  padding: 2rem;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.skill-container-right {
  z-index: 5;
  display: flex;
  width: 55%;
  flex-wrap: wrap;
  position: relative;
  gap: 1rem;
  padding: 20px;
}

.blob-style {
  z-index: -5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blobAnimate 3s linear infinite;
  opacity: 0.7;
}

@keyframes blobAnimate {
  50% {
    top: 55%;
    left: 46%;
  }
}

.skills-logo {
  height: 100px;
  width: 100px;
  transition: all 0.3s ease-in-out;
  padding: 1.5%;
  background-color: #e3f2fd;
  border-radius: 15px;
  object-fit: contain;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skills-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.caps {
  font-weight: 600;
  font-size: 54px;
}

.skill-heading {
  font-size: 35px;
  font-size: bold;
  line-height: 50px;
}

.skill-subheading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  /* background-color: red; */
  font-size: 14px;
  text-align: justify;
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--snd-bf-color);
  border-radius: 0.8rem;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--snd-bf-color);
}

.footer-text {
  font-size: 1.6rem;
}

.footer-iconTop {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.5rem;
  color: var(--snd-bf-color);
}

@media (max-width: 1200px) {
  .html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3%;
  }

  .services {
    padding: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 90vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column;
  }
  .about-img img {
    width: 90vw;
    margin-top: 4rem;
  }
  .serivces h2 {
    margin-bottom: 3rem;
  }
  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-logo {
    height: 90px;
    width: 90px;
    padding: 0.5rem;
  }
  .blob-style {
    top: 45%;
    left: 50%;
  }
  .skill-subheading {
    font-size: 7px;
  }
  .home {
    flex-direction: column;
  }
  .home-img {
    width: 48vw;
  }
  .home-content {
    order: 2;
  }
  .portfolio-container {
    padding: 1.5rem;
  }
}

@media (max-width: 617px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .service-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .home-img {
    width: 53vw;
    margin-top: 3rem;
  }

  .about-img img {
    width: 90vw;
    margin-top: 2rem;
  }
}

@media (max-width: 455px) {
  html {
    font-size: 50%;
  }

  .about {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .about-content p {
    font-size: 1.3rem;
  }

  .service-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .skills-logo {
    height: 60px;
    width: 60px;
  }
  .caps {
    font-size: 30px;
  }
  .skill-container-right {
    width: 40%;
  }
  .skill-container-left {
    width: 60%;
  }

  .skill-heading {
    font-size: 15px;
  }
  .skill-subheading {
    font-size: 10px;
    width: 100%;
  }
  .blob-style {
    display: none;
  }

  .contact form .input-box input {
    width: 100%;
  }
  .portfolio-container {
    padding: 2rem;
  }

  .portfolio-box img {
    height: 290px;
  }
  .input-box {
    display: flex;
    gap: 1rem;
  }
}

@media (max-width: 390px) {
  .skills-container {
    flex-direction: column-reverse;
  }
  .skill-container-right {
    width: 100%;
    gap: 1rem;
  }
  .skill-container-left {
    width: 100%;
  }
  .skills-logo {
    height: 68px;
    width: 70px;
  }
}
